
// glass block style

$ux-element1: linear-gradient(227deg, rgba(255, 242, 242, 0.03) 25.7%, rgba(255, 250, 250, 0.07) 94.73%); //background
$element1-bluer:blur(64px); //backdrop-filter

//global ux style
$ux-element2: #F5F5F7;
$color-bg: #2C2C32;
$color-text: #EEEEEE;
$color-active: #b88cf1;
$color-text: rgb(0, 0, 0);
$color-bcui: #1C1C1C;
$color-gradient-bcui: linear-gradient(263deg, #A38DD1 1.59%, #BF8DD1 33.89%, #F6BFEA 96.42%);

@mixin background-pages{
    position: absolute;
    width: 100%;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    margin: 0%;
    top: 0px;
    left: 0;
    height: 101vh;
}


@mixin blockes($sizevh: true){
    $max: calc(191vh + 55px*2);
    $type2: "true";
    z-index: 10;
    top: 101vh;
    width: 100%;
    padding-top: 70px;

    @if $sizevh == false {
        height: auto;
    }@else{
        height: $max;
    }

}



.header{
    z-index: 10;
    font-family: 'Hero';
    position: relative;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 1451px;
    height: 86px;
    background-color: $ux-element1;
    backdrop-filter: $element1-bluer;

    margin-left: 235px;
    margin-top: 176px;
    border-radius: 20px;
    padding-left: 158px;
    padding-right: 158px;
    font-size: 20px;
    z-index: 10;
    
    .block{
        text-decoration: none;
        padding: 0 1rem;
        .ico{
            position: relative;
            top: 3px;
            width: 19px;
            height: 19px;
        }
        a{
            margin-left: 12px;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    .logo{
        width: 96.93px;
        height: 86px;
        margin-right: 120px;
      }
}

.active {
    color: $color-active;
    cursor: default;
  }

.main{
    z-index: 5;
    position:absolute;
    top: 0;
    background-color:$ux-element2;
    width: 100%;
    height: 100vh;
    .video, .bcimage{
        @include background-pages
    }
    .title{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        top: 450px;
        left: 335px;
        border-radius: 30px;
        width: 1251px;
        height: 300px;
        // background-color: $ux-element1;
        // backdrop-filter: blur(15px);
        .name{
            font-size: 200px;
            width: 1250px;
            
        }
    }
}

.block1{
    @include blockes(false);
    position: relative;
    .div{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $ux-element1;
        backdrop-filter: $element1-bluer;
        margin-left: 30px;
        position: relative;
        width: 880px;
        height: 535px;
        border-radius: 60px;
        &:nth-child(odd){
            margin-bottom: 150px;
        }
    }
    .divl{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #B4B2FD;
        border-radius: 0px 60px 60px 0px;
        margin-top: 30px;
        position: relative;
        width: calc(880px + 30px);
        height: 330px;
    }
}
.block2{
    @include blockes(false);
    position: absolute;

    .div2{
        display: flex;
        margin-right: 30px;
        justify-content: center;
        align-items: center;
        background-color: $ux-element1;
        backdrop-filter: $element1-bluer;
        left: calc(975px - 30px);
        position: relative;
        width: 880px;
        height: 535px;
        border-radius: 60px;
        &:nth-child(even){
            margin-bottom: 150px;
        }
    }
    .divr{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #B4B2FD;
        border-radius:60px 0px 0px 60px;
        margin-bottom: 30px;
        left: 945px;
        position: relative;
        width: calc(880px + 30px);
        height: 330px;
    }
}
.blures{ 
    position: absolute;
    top: 90vh;
    right: 550px;
    width: 1886.72px;
    height: 1486.52px;
    z-index: 1;
}
.blures2{
    position: absolute;
    top: 145vh;
    left: 660px;
    width: 1886.72px;
    height: 1286.52px;
    z-index: 1;
}

.block3{ //трекер 
    background-color: rgba(255, 0, 0, 0.274);
    position: relative;
    @include blockes(true);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: calc(428px - 150px *2);
    // height: 2040px;
    .bcauthor{
        margin-bottom: calc(274px + 150px);
        background-color: blue;
        position: relative;
        margin-left: 150px;
        border-radius: 50px;
        width: 463px;
        height: 463px;
        .author{
            background-color: greenyellow;
            left: 100px;
            top: 100px;
            border-radius: 50px;
            position: absolute;
            width: 463px;
            height: 464px;
            margin-right: 65px;
        }
        .titleauthor{
            color:$color-text ;
            display: flex;
            font-size: 40px;
            align-items: center;
            justify-content: center;
            background-color: $ux-element2;
            position: relative;
            width: 563px;
            height: 150px;
            top: calc(564px + 151px);
            border-radius: 40px;
        }
    }
}

.block4{
    $border:50px;
    position: relative;
    @include blockes(true);
    display: flex;
    justify-content: center;
    .h{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 64px;
        color: $color-text;
        background: $color-gradient-bcui;
        position: absolute;
        border-radius: $border;
        width: calc(100vw *0.9);
        height: 150px;
    }
    .pos2{
        position: absolute;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        left: 29px;
        top: calc(70px + 150px + 45px);
        .requirements{
            z-index: 10;
            display: flex;
            font-size: 30px;
            padding: 30px 40px 20px 40px;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
            position: relative;
            background-color: $color-bcui;
            margin-left: 112px;
            right: 56px;
            width: calc(100vw *0.42);
            height: 401px;
            border-radius: $border;
            margin-bottom: 112px;
        }
    }
    .pos{
        width: 100%;
        // display: flex;
        // justify-content: center;
        // align-items: center;

    }
    .invite{
        background-color: $color-bcui;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        height: calc(401px /0.64 - 5.5625px);
        border-radius: $border;
        top: calc(70px + 150px + 45px *2 + 98vh);
        //width: 100%; 1855
        width: calc(100% *0.7);
        padding: 30px 40px 20px 40px ;
        .posbuttons{
            padding: 20px 30px 10px 0px;
            display: flex;
            flex-direction: row;
            position: relative;
            left: calc(-182px + 40px);
            width: 50vw;
            height: 100px;
        }
    }
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background: $color-gradient-bcui;
    border-radius: 28px;
    margin-right: 100px;
    width: 298px;
    height: 78px;
    font-size: 32px;
}
.th1{
    font-size: 50px;
}
.tp{
    font-size: 45px;
}
.blures3{
    position: absolute;
    top: 10vh;
    left: 740px;
    width: 1886.72px;
    height: 1486.52px;
    z-index: 1;
}
